/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
.card_container__3EWWQ {
  width: 100%;
  padding: .5rem 1rem;
  margin-right: auto;
  margin-left: auto; }
  .card_container__3EWWQ header {
    width: 100%;
    background-color: #0074c7;
    padding: 0.5rem 1rem;
    font-size: calc(10px + 2vmin);
    color: white; }

@media (min-width: 768px) {
  .card_container__3EWWQ {
    width: 750px; } }

@media (min-width: 992px) {
  .card_container__3EWWQ {
    width: 970px; } }

@media (min-width: 1200px) {
  .card_container__3EWWQ {
    width: 1170px; } }

/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
.checkbox_checkbox__3YrWZ {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: solid #ccd5e5 2px;
  vertical-align: baseline;
  cursor: pointer; }
  .checkbox_checkbox__3YrWZ .checkbox_input__3rxse {
    display: none; }
  .checkbox_checkbox__3YrWZ .checkbox_check__wvXCb {
    fill: white; }

.checkbox_checked__ga1HV {
  border-color: #0074c7;
  background-color: #0074c7; }

.icon_icon__fjuSf {
  height: inherit;
  width: auto; }

/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
.labelValuePair_label__2G082 {
  font-weight: 500; }

.labelValuePair_labelValue__ZgUS2 {
  margin-left: 0.5rem; }

/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
/*
===================================
    Usage
===================================
.element {
  padding: 10px;

  @include for-size(desktop-down) {
    padding: 20px;
  }
}
*/
.layout_layout__39aG4 {
  display: grid;
  grid-template-columns: minmax(16rem, 1fr) 4fr;
  grid-template-rows: minmax(4rem, -webkit-min-content) 1fr auto;
  grid-template-rows: minmax(4rem, min-content) 1fr auto;
  grid-template-areas: 'header  header' 'side   content' 'footer  footer';
  min-height: 100vh; }
  .layout_layout__39aG4 .layout_header__18nSA {
    grid-area: header; }
  .layout_layout__39aG4 .layout_sidebar__1CkMM {
    grid-area: side; }
  .layout_layout__39aG4 .layout_content__2UH6G {
    grid-area: content; }
  .layout_layout__39aG4 .layout_footer__1B8ww {
    grid-area: footer; }
  @media (max-width: 900px) {
    .layout_layout__39aG4 {
      grid-template-areas: 'header   header' 'content content' 'footer   footer'; }
      .layout_layout__39aG4 .layout_sidebar__1CkMM {
        display: none; } }

/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
.paragraph_paragraph__1b3dq {
  width: 24rem; }

/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
/*
===================================
    Usage
===================================
.element {
  font-size: font-size(16);
}
*/
.title_header__16Xqg {
  color: #0074c7;
  font-size: 16px;
  font-weight: bold;
  height: 1.5rem;
  padding-bottom: 0.75rem; }

/*
===================================
    Usage
===================================
.element {
  margin: units(1) units(3);
  padding: units(2);
}
*/
.table_table__1QQC9 {
  margin: 4rem;
  border-collapse: separate;
  border-spacing: 0 0.25rem; }
  .table_table__1QQC9 .table_tableHeader__1MFD3 {
    text-align: left;
    padding: 0.5rem 1rem;
    font-weight: normal;
    position: relative; }
  .table_table__1QQC9 .table_mainHeader__2MgFj {
    background-color: #0074c7;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    font-weight: bold; }
  .table_table__1QQC9 .table_arrow__2Qmez {
    width: 1.5rem;
    height: 100%;
    position: absolute;
    top: 0; }
  .table_table__1QQC9 .table_expanderHeader___b9Zw {
    cursor: pointer;
    width: 4rem;
    text-align: center; }
  .table_table__1QQC9 .table_tableRow__382zH {
    background-color: white; }
  .table_table__1QQC9 .table_selected__LgEiT {
    box-shadow: 0px 0px 0px 1px #0074c7; }
  .table_table__1QQC9 .table_tableCell__hrpFj {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    min-width: 4rem;
    font-weight: bold;
    vertical-align: baseline; }
  .table_table__1QQC9 .table_selector__3_Rk7 {
    min-width: unset; }
  .table_table__1QQC9 .table_expander__1ZMUq {
    margin: 0 auto;
    min-width: unset;
    text-align: center;
    width: 2rem;
    height: 2rem; }
  .table_table__1QQC9 .table_tableData__2fw5v {
    padding: 0;
    position: relative; }
    .table_table__1QQC9 .table_tableData__2fw5v:not(:last-of-type)::after {
      position: absolute;
      display: block;
      content: '';
      width: 1px;
      background-color: #ccd5e5;
      top: 1rem;
      bottom: 0.75rem;
      right: 0; }

/*
===================================
    Usage
===================================
.element {
  font-size: font-size(16);
}
*/
.text_standard__3JJli {
  color: inherit; }

.text_brand__2qfwu {
  color: #0074c7; }

.text_critical__cT5_q {
  color: #be2619; }

.text_secondary__1xNTV {
  color: #ccd5e5; }

.text_bold__ahCQL {
  font-weight: bold; }

.text_italic__3SdJq {
  font-style: italic; }

.text_xs__3EUhR {
  font-size: 12px; }

.text_s__JcGap {
  font-size: 14px; }

.text_m__3m9vs {
  font-size: 16px; }

.text_l__2fmCq {
  font-size: 18px; }

.text_xl__n6vbu {
  font-size: 20px; }

.text_xxl__3amBx {
  font-size: 24px; }

.text_xxxl__1b_0Z {
  font-size: 30px; }

.text_h1__P5V2C,
.text_h2__gXgtW,
.text_h3__2yjuL,
.text_h4__2yEUl,
.text_h5__2c1gK,
.text_h6__jDl3w {
  margin-top: 0.75em;
  margin-bottom: 0.5em; }


/*# sourceMappingURL=main.css.map*/